@import '../var/variables';

.advantages {
    position: relative;
    padding: 0 0 180px 0;


    &__bg {
        width: 100%;
        height: 524px;
        background-color: $bg-white;
        clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
        position: absolute;
        top: calc(50% + 50px);
        left: 0;
        z-index: -1;
        transform: translate(0, -50%);

        @media(max-width: $breakpoint-1399) {
            height: 1000px;
        }

        @media(max-width: $breakpoint-767) {
            height: 1900px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 305px);
        justify-content: center;
        gap: 20px;
        margin-top: 105px;


    }

    .card-advantages {
        height: 445px;
        box-shadow: 16px 16px 45px 0 rgba(#000, .1);
        background-color: $white;

        &__top {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $main-color;
            min-height: 105px;
            border-radius: 3px;
        }

        &__content {
            padding: 15px 50px 0px 30px;
            background-color: $white;
        }

        &__title {
            @include adaptiv-font(20, 16);
            font-weight: 900;
            width: min(200px, 80%);
        }

        &__list {
            @include adaptiv-font(14, 12);
            margin-top: 20px;
            list-style-type: disc;
            padding-left: 25px;
            font-weight: 400;
            color: $gray;
        }

        &__descr {
            width: min(217px, 100%);
            margin-top: 20px;
            font-size: 12px;
            font-weight: 400;
            color: $gray;
        }

    }

    .advantages-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}