@mixin cut_block_angle {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 15px solid $white;
        border-right: 15px solid $main-color;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 15px solid $white;
        border-left: 15px solid $main-color;
    }
}

@mixin cut_block_angle_25 {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 25px solid $white;
        border-right: 25px solid $main-color;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 25px solid $white;
        border-left: 25px solid $main-color;
    }
}

@mixin cut_block_angle_40 {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 40px solid $white;
        border-right: 40px solid $main-color;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 40px solid $white;
        border-left: 40px solid $main-color;
    }
}