$main-color: #01abbb;
$white: #ffffff;
$black: #000000;
$black-light: #211721;
$white-light: #F6EEE8;
$bg-white: #f6f6f6;
$text-main: #404040;

$breakpoint-1399: 1399.99px;
$breakpoint-1299: 1299.99px;
$breakpoint-1199: 1199.99px;
$breakpoint-991: 991.99px;
$breakpoint-767: 767.99px;
$breakpoint-575: 575.99px;

$fontSize: 16;

$maxWidth: 1880;
$maxWidthRem: calc(1880 / $fontSize);
$minWidth: 375;
$minWidthRem: calc(375 / $fontSize);