$main-color: #01abbb;
$white: #ffffff;
$black: #000000;
$white-light: #F6EEE8;
$bg-white: #f6f6f6;
$gray: #404040;

$breakpoint-1399: 1399.99px;
$breakpoint-1299: 1299.99px;
$breakpoint-1199: 1199.99px;
$breakpoint-991: 991.99px;
$breakpoint-767: 767.99px;
$breakpoint-575: 575.99px;

$container: 1280px;