@import './libs/fonts';
@import './blocks/header';
@import './blocks/intro';
@import './var/variables';
@import './blocks/park';
@import './blocks/advantages';
@import './blocks/infra';
@import './blocks/services';
@import './blocks/conditions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: $gray;
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &__subwrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 4px 4px rgba(#000, 0.25));
        &_297 {
            @include adaptiv-width(297, 150);
            @include adaptiv-height(49, 30);
        }
        &_414 {
            @include adaptiv-width(414, 150);
            @include adaptiv-height(68, 40);
        }
        
    }
    &__common {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        clip-path: polygon(5% 0, 100% 0, 100% 85%, 95% 100%, 0 100%, 0 15%);
        border: none;
        &_green {
            @include adaptiv-font(20, 11);
            background-color: $main-color;
            color: $white;
        }
        &_white {
            @include adaptiv-font(18, 11);
            background-color: $white;
            color: $main-color;
        }
    }
    &__background {
        position: absolute;
        top: 5px;
        left: -10px;
        width: 297px;
        height: 49px;
        clip-path: polygon(5% 0, 100% 0, 100% 85%, 95% 100%, 0 100%, 0 15%);
        z-index: -1;
        &_297 {
            @include adaptiv-width(297, 150);
            @include adaptiv-height(49, 30);
        }
        &_414 {
            @include adaptiv-width(414, 150);
            @include adaptiv-height(68, 40);
        }
        &_green {
            background-color: $main-color;
        }
        &_white {
            background-color: $white;
        }
    }
}


.container-outer {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media(max-width: $breakpoint-1399) {
        max-width: 1200px;
    }

    @media(max-width: $breakpoint-1199) {
        max-width: 960px;
    }

    @media(max-width: $breakpoint-991) {
        max-width: 720px;
    }

    @media(max-width: $breakpoint-767) {
        max-width: 540px;
    }

    @media(max-width: $breakpoint-575) {
        max-width: 100%;
    }
}

.section-title {
    @include adaptiv-font(64, 40);
    font-family: 'Bebas Neue';
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.bg-section-white {
    width: 100%;
    height: 524px;
    background-color: $bg-white;
    clip-path: polygon(12% 0, 100% 0, 100% 75%, 88% 100%, 0 100%, 0 25%);
    position: absolute;
    // top: calc(50% + 50px);
    // left: 0;
    z-index: -1;
    // transform: translate(0, -50%);

    // @media(max-width: $breakpoint-1399) {
    //     height: 1000px;
    // }

    // @media(max-width: $breakpoint-767) {
    //     height: calc(100% - 180px);
    //     clip-path: unset;
    //     top: 50%;
    //     transform: translate(0, -50%);
    // }
}